/* inventory.css */

.inventory-container {
  gap: 1rem;
  display: flex;
  overflow-y: auto;
  height: fit-content;
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  flex-direction: column;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-container h2 {
  font-size: 2rem;
  color: var(--black);
}

.heading-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--black);
}

/* Mobile Devices (Portrait) */
@media (max-width: 320px) {
  /* 320px */
  .inventory-container {
    padding: 0.5rem 1rem;
  }

  .heading-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .heading-container h2 {
    font-size: 1.5rem;
  }

  .heading-container p {
    font-size: 0.875rem;
  }
}

/* Small Screens */
@media (min-width: 321px) and (max-width: 375px) {
  /* 321px to 375px */
  .inventory-container {
    padding: 0.5rem 1.25rem;
  }

  .heading-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .heading-container h2 {
    font-size: 1.75rem;
  }

  .heading-container p {
    font-size: 0.9375rem;
  }
}

/* Medium Small Screens */
@media (min-width: 376px) and (max-width: 435px) {
  /* 376px to 435px */
  .inventory-container {
    padding: 0.75rem 1.5rem;
  }

  .heading-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .heading-container h2 {
    font-size: 1.875rem;
  }

  .heading-container p {
    font-size: 1rem;
  }
}

/* Medium Screens */
@media (min-width: 436px) and (max-width: 768px) {
  /* 436px to 768px */
  .inventory-container {
    padding: 1rem 2rem;
  }

  .heading-container {
    flex-direction: row;
    align-items: center;
  }

  .heading-container h2 {
    font-size: 2rem;
  }

  .heading-container p {
    font-size: 1rem;
  }
}

/* Large Screens */
@media (min-width: 769px) and (max-width: 1024px) {
  /* 769px to 1024px */
  .inventory-container {
    padding: 1.25rem 2.5rem;
  }

  .heading-container {
    flex-direction: row;
    align-items: center;
  }

  .heading-container h2 {
    font-size: 2rem;
  }

  .heading-container p {
    font-size: 1rem;
  }
}

/* Extra Large Screens */
@media (min-width: 1025px) {
  /* 1025px and up */
  .inventory-container {
    padding: 1.5rem 3rem;
  }

  .heading-container {
    flex-direction: row;
    align-items: center;
  }

  .heading-container h2 {
    font-size: 2rem;
  }

  .heading-container p {
    font-size: 1rem;
  }
}
